@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  --background: #feca70;
  --foreground: #381303;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Inter", system-ui, "Segoe UI", sans-serif;
  --heading: "Playfair Display", sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}
@theme inline {
  --color-primary: var(--background);
  --color-secondary: var(--foreground);
  --font-playfair: "Playfair Display", sans-serif;
  --font-caveat: "Caveat", cursive;
}
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100svh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2 {
    font-family: var(--heading);
    font-weight: 500;
  }

  .heading-h1 {
    font-size: 57.6px;
    font-style: italic;
    @media (max-width: 1024px) {
      font-size: 61.62px;
    }
    @media (max-width: 568px) {
      font-size: 40px;
    }
  }
  .heading-h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0;
  }

  .tape-graphic {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 85%;
    z-index: 20;
  }

  /* scrapbook mask */
  .scrapbook-wrapper {
    position: relative;
  }

  .torn-paper-container {
    width: 100%;
    height: 100%;

    mask-image: url("/images/Subtract2.svg");

    mask-size: auto auto;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  .work-card {
    width: 100%;
    /* max-width: 24rem; */
    height: 470px;
  }

  /* torn image mask */
  .torn-image-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url("/images/image-subtract.svg");
    mask-image: url("/images/image-subtract.svg");

    mask-size: auto auto;
    mask-repeat: no-repeat;
  }

  .torn-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #works {
    background-image: radial-gradient(#200b01fa 1px, transparent 1px);
    background-size: 25px 25px;
  }
  .title {
    animation:
      typing 2.5s steps(20) forwards,
      blink 0.9s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 20ch;
    } /* Match '16ch' to the exact number of characters */
  }

  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--foreground);
    }
  }
}

.works-background {
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  background-image: radial-gradient(#200b01fa 1px, transparent 1px);
  background-size: 25px 25px;
}

.sticky-container {
  position: sticky;
  top: 2rem;
  align-self: flex-start;
}
